body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

/* the asterisk means select every single element on the page */
* {
    /* makes sure the web browser honor our declared width values of 33.33% and 66.66% */
    /* our padding will still be applied but it won't affect the calculated width values */
    box-sizing: border-box;
}

a {
    /* need to make sure the variables.css file where $mainOrange is defined is imported before this _global.css file */
    color: $mainOrange;
}