.modal {
    /* we want to the modal div to be front and center no matter where the user has scrolled to */
    position: fixed;
    /* layer the modal div on top of all the other content; the highest z-index value should be positioned on top */
    z-index: 5;
    /* give the modal div a transparent white background */
    background-color: rgba(255, 255, 255, 0.94);
    /* we want the overlay to take up the full screen- the full available height and width */
    /* the full height */
    top: 0;
    bottom: 0;
    /* the full width */
    left: 0;
    right: 0;
    /* by default on page load, the modal is hidden */
    opacity: 0;
    /* it's invisible with opacity now but still layered over all our other content */
    /* we fix that with visibility: hidden */
    visibility: hidden;
    /* add a zoom out effect */
    /* initially have the content a little larger than normal */
    /* once the content is visible, we set it back to a scale of 1 */
    transform: scale(1.2);
    /* we don't want the is-visible changes to happen abruptly in 1 millisecond */
    /* we want to animate or transition all properties smoothly over 0.3 seconds */
    transition: all 0.3s ease-out;
    
    &--is-visible {
        opacity: 1;
        /* offset the visibility: hidden */
        visibility: visible;
        transform: scale(1);
    }
    
    &__inner {
        /* vertically center the content within the height of the browser */
        position: absolute;
        /* elements positioned absolutely try to shrink wrap their size */
        /* but we want this element to keep its full width */
        width: 100%;
        /* to actually vertically center it, we want to push it down from the top 50% */
        top: 50%;
        /* top: 50% by itself pushes the content down to far */
        /* to fix that, we pull the content back up half of its own height */
        /* the Y means we only want to adjust its vertical positioning */
        transform: translateY(-50%);
    }
    
    &__description {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        /* more spacing between each line of text */
        line-height: 1.65;
    }
    
    &__close {
        /* position the X in the top right corner */
        position: absolute;
        top: 15px;
        right: 15px;
        /* make the X larger */
        font-size: 2rem;
        /* stretch it horizontally to make it look more like a close icon and less like an X */
        transform: scaleX(1.2);
        /* when the X expands, it expands towards the midle of the page and not closer to the top right */
        /* so that it doesn't appear to be closer to the edge of the screen than it originally was */
        /* set the transform origin to be the top right corner */
        /* to get to the right horizontally, we say go 100% */
        /* to stay in the top right vertically, we don't need to travel at all */
        transform-origin: 100% 0;
        color: $mainBlue;
        /* turn the cursor into a pointer hand like its a like */
        cursor: pointer;
            
        /* when it is hovered (the ampersand & gives us __close) */
        &:hover {
            color: $mainOrange;
            
        }
    }
}